{
  "useTabs": false,
  "printWidth": 130,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "none",
  "semi": true,
  "plugins": [
    "prettier-plugin-organize-attributes",
    "prettier-plugin-organize-imports"
  ],
  "overrides": [
    {
      "files": "**/*.html",
      "options": {
        "printWidth": 150,
        "attributeSort": "ASC",
        "htmlWhitespaceSensitivity": "ignore",
        "attributeGroups": [
          "^(id|name)$",
          "^class$",
          "^#",
          "$DEFAULT",
          "$ANGULAR_DIRECTIVE",
          "$ANGULAR_STRUCTURAL_DIRECTIVE",
          "$ANGULAR_INPUT",
          "$ANGULAR_OUTPUT",
          "$ANGULAR_TWO_WAY_BINDING",
          "^aria-"
        ]
      }
    }
  ]
}
