:host {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.hero {
  display: flex;
  gap: 0.5rem;
  $height: 460px;
  height: $height;
  max-height: $height;

  .image-container {
    border-radius: 5px;
    overflow: hidden;
    height: 100%;
    width: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}
