<div class="tm-header">
  <span class="user-dialog-avatar">{{ initial }}</span>
  <div class="tm-title-col">
    <span class="tm-eyebrow">Account</span>
    <span class="tm-title">{{ data.name || data.preferred_username }}</span>
  </div>
  <button class="tm-close" (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</div>

<mat-dialog-content>
  <div class="tm-body">
    @if (data.email) {
      <div class="tm-field">
        <label class="tm-label">Email</label>
        <input class="tm-input-ro" readonly [value]="data.email" />
      </div>
    }
    @if (data.preferred_username) {
      <div class="tm-field">
        <label class="tm-label">Username</label>
        <input class="tm-input-ro" readonly [value]="data.preferred_username" />
      </div>
    }
    @if (data.given_name || data.family_name) {
      <div class="tm-field-row" style="grid-template-columns: 1fr 1fr">
        <div class="tm-field">
          <label class="tm-label">First name</label>
          <input class="tm-input-ro" readonly [value]="data.given_name" />
        </div>
        <div class="tm-field">
          <label class="tm-label">Last name</label>
          <input class="tm-input-ro" readonly [value]="data.family_name" />
        </div>
      </div>
    }
    <div class="tm-field">
      <label class="tm-label">ID</label>
      <input class="tm-input-ro" readonly [value]="data.sub" />
    </div>
  </div>
</mat-dialog-content>

<div class="tm-footer">
  <button class="tm-btn-danger" (click)="logout()">
    <mat-icon>logout</mat-icon>
    Log out
  </button>
</div>
