<header>
  <div class="container">
    <a href="/">
      <mat-icon fontIcon="spa" aria-hidden="false"></mat-icon>
      {{ 'theme.title' | translate }}
    </a>
    <ng-container *ngIf="user$ | async as user">
      <div class="user-details">
        <div class="user">
          <mat-icon fontIcon="account_circle" aria-hidden="false"></mat-icon>
          {{ user.email }}
        </div>
        <button mat-icon-button (click)="authService.logout()">
          <mat-icon>logout</mat-icon>
        </button>
      </div>
    </ng-container>
  </div>
</header>
<div class="container-wrapper">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
