:host {
  display: flex;
  height: 100vh;
  max-height: 100vh;
  background: var(--q-bg);
}

.app-container {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .content {
    flex: 1;
    min-width: 0;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }
}
