<mat-card class="form-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title>Create new task</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Title</mat-label>
        <input matInput [formControl]="title" />
      </mat-form-field>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Description</mat-label>
        <input matInput [formControl]="description" />
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button class="app-btn" mat-flat-button (click)="create()">Create</button>
  </mat-card-actions>
</mat-card>
