form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.form-card {
  $width: 400px;
  width: $width;
  max-width: $width;
  padding: 1rem;

  form {
    width: 100%;
  }

  mat-form-field {
    width: 100%;
  }

  mat-card-header {
    margin-bottom: 1rem;
  }

  mat-card-actions {
    display: flex;
    justify-content: end;
  }
}
