<mat-card class="form-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title>{{ 'auth.login' | translate }}</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="form">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>{{ 'auth.common.email' | translate }}</mat-label>
        <input matInput required type="email" [formControl]="email" />
      </mat-form-field>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>{{ 'auth.common.password' | translate }}</mat-label>
        <input matInput required type="password" [formControl]="password" />
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="authFormStateChange.emit(AuthFormState.REGISTER)">
      {{ 'auth.signUp' | translate }}
    </button>
    <button color="primary" mat-flat-button (click)="submit()">
      {{ 'auth.login' | translate }}
    </button>
  </mat-card-actions>
</mat-card>
