<div class="container">
  <div class="hero-container">
    <!--    <app-weather></app-weather>-->
    <div class="hero">
      <!--      <app-create-task (onCreate)="onCreate($event)"></app-create-task>-->
      <div class="image-container">
        <img alt="Productivity" src="assets/images/productivity.png" />
      </div>
    </div>
  </div>

  <div *ngIf="transactions$ | async as transactions">
    <h2 class="panel-title">
      Your transactions ({{ transactions.length }})
      <ng-container *ngTemplateOutlet="loader"></ng-container>
    </h2>
    <app-transactions-table [transactions]="transactions"></app-transactions-table>
  </div>
</div>

<ng-template #loader>
  <mat-spinner diameter="20" *ngIf="loading$ | async"></mat-spinner>
</ng-template>
